// Navigtion formatting //
.mainHeader {
    margin-bottom: 100px;
    width: 100%;
}
.container {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}
.mainHeader .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #992d2d;
}
.header {
    background-color: #992d2d;
}
h1.header a {
    color: #fffff0;
    background-color: #992d2d;
    text-decoration: none;
    font-family: 'Special Elite', cursive, serif;
}
ul.navigation {
    list-style-type: none;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
li.navlist {
    display: inline-block;
}
li.navlist a {
    display: inline-block;
    padding: 10px;
    color: #fffff0;
    text-align: center;
    text-decoration: none;
    font-family: 'Special Elite', cursive, serif;
}
li.navlist.navlink {
    padding: 25px;
}
// Changes link to black on hover //
li.navlist a:hover {
    background-color: #690e0e;
}
// Main body background formatting //
body {
    padding: 0;
    margin: 0;
    background: 
    linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%);	
    background-size: 2em 2em;
    background-color: #232323;
  }
// Image formatting //
#giphyImages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
// Text fomatting //
.introText {
    background-color: #fffff0;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    border-style: groove;
    border-color: #690e0e;
}
.introHead {
    font-family: 'Special Elite', cursive, serif;
    text-align: center;
}
.introBody {
    font-family: 'Oswald', sans-serif;
    text-align: justify;
}
// Intro GIF formatting //
.introGif {
    margin-top: 15px;
}