// Background nav bar //
.header {
    background-color: ivory;
}
// Background main page //
body {
    background-image: url(../images/night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #4169E1;
}